extends layout


block content
  header

  h3 Welcome to the #{title}
  br 
  p Type /search or navigate to "Mein Gebirge" to show all your Mountains
  p Type /add or navigate to "Neues Gebirge" to add new elements to the databank 
  p Type /delete or navigate to "Gebirge löschen" to delete elements from the databank
  p Type /routing or navigate to "Route" to get the navigation from a startpoint to the target point 
  p Type /impressum or navigate to "Impressum" to get to the Impressum of the page

block foot 
  footer
  .navbar.navbar-expand-md.fixed-bottom.bg-primary.justify-content-center
    span.text-white Abschlussaufgabe by Tim Lehmann & Tobias Krumrein
