extends layout

block content
  header

  
  h3 Welcome to the #{title}
  br 
  p1 Autoren 
  br
  p2 Tim Lehmann und Tobias Krumrein

block foot 
  footer
  .navbar.navbar-expand-md.fixed-bottom.bg-primary.justify-content-center
    span.text-white Abschlussaufgabe by Tim Lehmann & Tobias Krumrein
